
table{
    margin-top: 5%;
}

table, td{
    width: 250px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

#content{
    margin-left: 25%;
}

#restart{
    border: 1px solid aqua;
    border-radius: 12px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}